.center {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: table;
}

body {
  background: #000;
  color: rgb(17, 223, 195);
}

a{
  color: aqua;
  font-size: xx-large;
}
br{
  height: 5%;
}

p {
    font-size: 100pt;
    text-align: center;
  display: table-cell;
  vertical-align: middle;
}